* {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);

}
h1 {
    color: #242424; font-size: 24px;
    font-weight: 900;
}
h2 {
    color: #606060; font-size: 20px;
    font-weight: 800;
}
p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;

}
ul {
    font-family: monospace; font-size: 18px;
    max-width: 40%;
    margin-left: 100px; padding: 20px;
    border-style: solid; border-width: 2px; color: rgb(10, 1, 100);
    list-style-type: none;  
    
}
li {
    padding: 10px;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.1);

}
a {
    font-weight: bold; color: #ef9b48; text-decoration: underline;
    
}
.verde {
    color: rgb(2, 84, 25);
}